<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.OrderMapper">
    <resultMap id="MTO" type="com.zking.ssm.model.Order">
        <id property="orderId" javaType="integer" column="order_id"/>
        <result property="orderNo" javaType="string" column="order_no"/>
        <result property="cid" javaType="integer" column="cid"/>
        <association property="customer" javaType="com.zking.ssm.model.Customer">
            <id property="customerId" javaType="integer" column="customer_id"/>
            <result property="customerName" javaType="string" column="customer_name"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    order_id, order_no, cid
  </sql>
    <select id="selectByPrimaryKey" resultMap="MTO">
       select
        *
        from t_order o left join t_customer c on o.cid = c.customer_id
        where o.order_id=#{orderId}
  </select>
</mapper>